$mainColor: #1A2B48;
$greyLight: #5E6D77;
$white: #FFF;
$orange: #FA5636;
$blue: #5191FA;

.vc_row[data-vc-full-width] {
  overflow: inherit !important;

  &.st-overflow {
    overflow: hidden !important;
  }
}

@media(min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.loader-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(255, 255, 255, 0.7);

  .lds-ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 64px;
    height: 64px;
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid #5191FA;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.st-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 6px;
  background: #5191FA;
  border-radius: 5px;
  margin-left: -25px;
  animation: load 1.8s ease-in-out infinite;

  &:before, &:after {
    position: absolute;
    display: block;
    content: "";
    animation: load 1.8s ease-in-out infinite;
    height: 6px;
    border-radius: 5px;
  }

  &:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #FA5636;
    margin-left: -20px;
  }

  &:after {
    bottom: -20px;
    width: 35px;
    background: #ffab53;
    margin-left: -17px;
  }
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }

  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

.dropdown {
  .dropdown-menu {
    border: 1px solid #F4F1F1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    border-radius: 0;
  }
}

.select2 {
  .select2-selection {
    border-radius: 0;
    height: auto !important;

    .select2-selection__rendered {
      line-height: 1 !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .select2-selection__arrow {
      top: 15px;
      right: 10px;
      height: auto !important;

      b {
        &:after {
          content: '' !important;
          background: url("../images/svg/arrow.png") no-repeat center center;
          top: 0 !important;
          left: 0 !important;
          width: 7px;
          height: 7px;
        }
      }
    }
  }
}

.select2-dropdown {
  border: 1px solid #F4F1F1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
  border-radius: 0;

  .select2-results__options {
    max-height: 350px !important;
  }

  .select2-results__option {
    padding: 10px 20px;
    font-size: 13px;

    &[aria-selected="true"] {
      background: #f5f5f5;
      color: #333;
    }

    &.select2-results__option--highlighted[aria-selected] {
      background-color: #5897fb;
      color: white;
    }
  }
}

.daterangepicker {
  min-width: 300px;
  min-height: 100px;
  border-radius: 0;
  border: 1px solid #F4F1F1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
  &:before, &:after {
    content: '';
    position: static;
    border: none;
    background: none;
    width: 0;
    height: 0;
  }
  &:not(.single) {
    .calendar {
      &.left {
        .next {
          display: none;
        }
      }
    }
  }
  .calendar {
    position: relative;
    max-width: 100% !important;
  }
  .table-header {
    position: relative;
    padding-bottom: 20px;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .month {
      text-align: center;
    }
    .prev {
      position: absolute;
      bottom: 0;
      left: 0;
      float: left;
      width: 48px;
      height: 48px;
      background: url("../images/arow_left.png") no-repeat left center;
      cursor: pointer;
      z-index: 9;
    }
    .next {
      position: absolute;
      bottom: 0;
      right: 0;
      float: right;
      width: 48px;
      height: 48px;
      background: url("../images/arrow_right.png") no-repeat right center;
      cursor: pointer;
      z-index: 9;
    }
  }
  .table-sub-header {
    border-top: 1px solid #D7DCE3;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .day-off-week {
      width: 36px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #ADB2BD;
      float: left;
      text-align: center;
    }
  }
  .month {
    color: #1A2B48;
    font-weight: 500;
    position: relative;
    top: 6px;
  }
  .table-condensed {
    .td-date {
      width: auto;
      height: auto;
      padding: 0;
      background: none;
      border: none;
      .date {
        width: 36px;
        height: 32px;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        color: $mainColor;
      }
      &.disabled {
        text-decoration: none;
        .date {
          color: #D7DCE3;
        }
      }
      &.today {
        .date {
          color: #FA5535;
        }
        &:not(.start-date),
        &:not(.in-range) {
          .date {
            color: #FA5535;
            border: 1px solid #FA5535;
          }
        }
      }
      &.start-group {
        background: #fef5ca;
      }
      &.in-group {
        background: #fef5ca;
        .date {
          color: #767676;
        }
      }
      &.end-group {
        background: #fef5ca;
        .date {
          color: #767676;
        }
      }
      &:hover {
        background: rgba(81, 145, 250, 0.2);
      }
      &.start-date {
        &:not(.end-date) {
          box-shadow: -3px 0 0 $blue;
        }
        background: rgba(81, 145, 250, 0.2);
        &.today {
          .date {
            border: none;
          }
        }
      }
      &.in-range {
        background: rgba(81, 145, 250, 0.2);
        &.today {
          .date {
            border: none;
          }
        }
      }

      &.end-date {
        &:not(.start-date) {
          box-shadow: 3px 0 0 $blue;
        }
        background: rgba(81, 145, 250, 0.2);
        &.today {
          .date {
            border: none;
          }
        }
      }
      &.td-no-show {
        visibility: hidden;
      }
      &.has-tooltip {
        position: relative;
        .event-tooltip-wrap {
          position: absolute;
          top: 100%;
          margin-top: 5px;
          left: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.7);
          color: #FFF;
          font-size: 12px;
          padding: 4px 6px;
          border-radius: 2px;
          display: none;
        }
        &:hover {
          .event-tooltip-wrap {
            display: block;
          }
        }
      }
    }
  }
  &.respon-single {
    .calendar.right {
      display: none;
    }
    .calendar.left .next {
      display: block;
    }
  }
}

.btn {
  border-radius: 0;
  padding: 10px 15px;
  line-height: 1;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  &.btn-default {
    color: $greyLight;
  }

  &.btn-primary {
    background: $blue;
    color: $white;
    border: 1px solid $blue;

    &:hover {
      border: 1px solid darken($blue, 10%);
      background: darken($blue, 10%);
    }
  }

  &.btn-warning {
    background: #F39C12;
  }

  &.btn-radius {
    border-radius: 3px;
  }

  &.btn-md {
    padding: 15px 25px;
  }

  &.btn-lg {
    padding: 20px 35px;
    font-size: 15px;
  }

  &.btn-bold {
    font-weight: 600;
  }
}

.form-group {
  position: relative;

  .input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.form-control {
  border-radius: 0;
  border: 1px solid #D7DCE3;
  padding: 10px 15px;
  line-height: 24px;
  color: $greyLight;

  &:focus {
    border: 1px solid #D7DCE3 !important;
    box-shadow: 0 0 4px rgba(148, 170, 180, 0.5);
  }
}

input[type="text"], input[type="email"], input[type="password"], input[type="phone"], input[type="number"] {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(94, 109, 119, 0.5);
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(94, 109, 119, 0.5);
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(94, 109, 119, 0.5);
  }
}

.st-icheck-item {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 21px;

  label {
    font-size: 14px;
    color: #5E6D77;
    font-weight: normal;
    margin-bottom: 0;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      margin: 0;

      &:checked ~ .checkmark {
        background-color: #fff !important;

        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 5px;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #A0A9B2;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #5191FA;
      }

      &.fcheckbox {
        border-radius: 2px;

        &:after {
          background-color: transparent;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          left: 5px;
          top: 2px;
          width: 5px;
          height: 8px;
          border: solid #5191FA;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    .fa {
      font-size: 12px;
      color: #FA5636;
    }
  }
}

.modal {
  .modal-content {
    border: 1px solid #F4F1F1;
    border-radius: 0;
    padding: 20px 30px 30px;
    box-shadow: 0 1px 1px #dbdbdb;

    .modal-header {
      padding: 0 0 10px;
      border: none;

      .close {
        margin-top: 0;
        opacity: 1;
      }

      .modal-title {
        font-size: 24px;
        font-weight: 500;
      }
    }

    .modal-body {
      padding: 0;
      line-height: 1;

      .form-group {
        position: relative;
        margin-top: 20px;
        margin-bottom: 0;

        .form-control {
          height: 45px;
          border: 1px solid #DAE1E7;
          font-size: 14px;
          color: #5E6D77;
        }

        .input-icon {
          position: absolute;
          top: 50%;
          right: 15px;
          font-size: 20px;
          transform: translateY(-50%);
          color: #acb5be;
          line-height: 0;
        }
      }

      label, .st-link {
        font-size: 14px;
        font-weight: 400;
      }

      input[type="checkbox"] {
        margin-right: 5px;
      }

      input[type="radio"] {
        margin-right: 10px;
      }

      .form-submit {
        height: 45px;
        width: 100%;
        background: $blue;
        color: #FFF;
        text-transform: uppercase;
        font-size: 14px;
        border: none;
        font-weight: 600;
      }

      .advanced {
        background: #f9f9f9;
        margin-top: 20px;
        padding: 30px;
        margin-left: -30px;
        margin-right: -30px;

        .socials {
          padding-top: 20px;
          padding-bottom: 35px;
        }
      }
    }
  }
}

.tour-modern-page {
  font-family: "Poppins", sans-serif;
  font-size: 14px;

  #topbar {
    background: $white;
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;
    color: $greyLight;

    a {
      color: $greyLight;
    }

    .left-panel {
      float: left;
    }

    .right-panel {
      float: right;
    }

    .topbar-items {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 50px;
      line-height: 50px;

      .topbar-item {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        a {
          display: flex;
          align-items: center;

          .topbar-icon {
            margin-right: 12px;
          }
        }
      }

      .login-item,
      .signup-item {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
      }

      .dropdown {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        .dropdown-menu {
          font-size: 12px;

          li {
            a {
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }

  #nav-menu {
    height: 80px;

    .left-panel{
      float: left;
    }
    .right-panel{
      float: right;
      .st-list{
        height: 80px;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        li{
          display: inline-block;
          &:not(:last-child){
            margin-right: 40px;
          }
        }
      }
    }
    #logo {
      margin-top: 15px;
      float: left;

      img {
        max-width: 170px;
        height: auto;
      }
    }

    #st-main-menu {
      position: relative;
      margin-left: 170px;
      padding-left: 25px;

      .back-menu {
        display: none;
      }

      .main-menu {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        a {
          color: $mainColor;
          text-decoration: none;
        }

        > li {
          display: inline-block;

          > a {
            display: block;
            height: 80px;
            line-height: 80px;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
          }

          &.active, &:hover, &.current-menu-item {
            > a {
              color: #5191FA;
            }

            > .fa {
              color: #5191FA;
            }
          }

          &.has-megamenu {
            position: relative;

            .fa {
              position: absolute;
              top: 50%;
              margin-top: -9px;
              right: 5px;
              font-size: 18px;
            }

            .megamenu {
              display: none;
              position: absolute;
            }
          }
        }

        li {
          &.menu-item-has-children {
            position: relative;

            .fa {
              position: absolute;
              top: 50%;
              margin-top: -9px;
              right: 5px;
              font-size: 18px;
            }

            .menu-dropdown {
              list-style: none;
              position: absolute;
              left: 0;
              top: 120%;
              padding-left: 0;
              margin-bottom: 0;
              min-width: 200px;
              padding-top: 5px;
              padding-bottom: 5px;
              background: #FFF;
              box-shadow: 0 1px 1px #dbdbdb;
              z-index: 999;
              opacity: 0;
              visibility: hidden;
              transition: all .2s ease-in-out;

              li {
                padding-left: 20px;
                padding-right: 20px;

                a {
                  padding: 15px 0;
                  display: block;
                  font-size: 14px;
                }

                &:not(:last-child) {
                  a {
                    border-bottom: 1px solid #EEEEEE;
                  }
                }

                &:hover {
                  > a, > .fa {
                    color: $blue;
                  }
                }

                &.menu-item-has-children {
                  .fa {
                    right: 20px;
                  }
                }
              }

              .menu-dropdown {
                top: 0;
                left: 100%;

                li {
                  a {
                    border-bottom: 1px solid #EEEEEE;
                  }

                  &:last-child {
                    a {
                      border: none;
                    }
                  }
                }
              }
            }
          }

          &:hover {
            > .menu-dropdown {
              top: 100%;
              opacity: 1;
              visibility: visible;
            }
          }

          &.current-menu-item, &.current-menu-ancestor {
            > a {
              color: #5191FA;
            }

            > .fa {
              color: #5191FA;
            }
          }
        }

        li.has-mega-menu {
          position: static;

          a {
            position: relative;
          }

          & > ul {
            &.sub-menu {
              &.mega-menu {
                position: absolute;
                left: 5px;
                font-size: 14px;
                text-align: left;
                z-index: 999;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                padding: 0;
                margin-top: 20px;
                opacity: 0;
                visibility: hidden;

                .dropdown-menu-inner {
                  padding: 1px 10px;

                  .container {
                    max-width: 100%;
                  }

                  .column_container {
                    &.st-mega {
                      padding: 20px 25px 25px 25px;
                      background: #FFF;
                      -webkit-box-shadow: 0 1px 1px #dbdbdb;
                      box-shadow: 0 1px 1px #dbdbdb;
                    }
                  }

                  .wpb_content_element {
                    margin-bottom: 0;
                  }

                  ul {
                    &.menu {
                      padding-left: 0;

                      li {
                        position: relative;
                        display: block;
                        top: auto;
                        right: auto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                        margin-top: 15px;
                        border-top: 1px solid #EEEEEE;
                        padding-top: 15px;

                        &.fa {
                        }

                        a {
                          font-family: 'Poppins', sans-serif !important;
                          font-weight: 400;
                        }

                        &:before {
                          margin-right: 7px;
                        }

                        &:hover {
                          a {
                            color: #5191FA;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:hover {
            & > ul {
              &.sub-menu {
                &.mega-menu {
                  margin-top: 0;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
  .header-search {
    .form-control {
      width: 34px;
      font-size: 12px;
      transition: width .2s ease-in-out;
      background: url("./../images/svg/ico_search_header.svg") no-repeat 8px center;
      background-size: 20px;
      box-shadow: none;
      border: none;
      &:focus {
        padding-left: 35px;
        width: 200px;
        box-shadow: none;
        border-bottom: 1px solid $greyLight;
      }
    }
  }
  .dropdown-minicart {
    .mini-cart {
      cursor: pointer;
    }
    .dropdown-menu {
      width: 270px;
      border: none;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
      .heading{
        display: block;
        width: 100%;
      }
      li {
        display: block;
        padding: 20px;
        margin: 0;
        &:not(:last-child) {
          border-bottom: 1px solid #f5f5f5;
        }
      }
      .cart-text-empty{
        padding: 15px 20px 10px 20px;
      }
      .heading {
        .st-heading-section {
          margin: 0;
          font-size: 16px;
        }
      }
      .cart-item {
        position: relative;
        .media-left{
          width: 70px;
          display: inline-block;
          img{
            max-width: 100%;
            height: auto;
          }
        }
        .media-body{
          display: inline-block;
          width: calc(100% - 75px);
          .media-heading{
            a{
              padding-left: 0;
              padding-right: 0;
              padding-top: 0;
            }
          }
        }
        .media-object {
          width: 70px;
        }
        .media-heading {
          font-size: 14px;
          line-height: 24px;
          margin-top: -5px;
        }
        .price-wrapper {
          font-size: 12px;
          color: $greyLight;
          .price {
            font-size: 15px;
            color: $mainColor;
          }
        }
        .cart-delete-item {
          display: inline-block;
          padding: 0;
          position: absolute;
          right: 20px;
          bottom: 25px;
          font-size: 18px;
          color: #D7D7D7;
          transition: color .2s;
          &:hover {
            color: $orange;
          }
        }
        &:hover {
          background: #f7f7f7;
        }
      }
      .cart-total {
        .sub-total {
          font-size: 14px;
          font-weight: 500;
          color: $greyLight;
          .price {
            font-size: 16px;
            color: $mainColor;
          }
        }
        .btn {
          margin-top: 20px;
          padding-top: 8px;
          padding-bottom: 8px;
          font-weight: 500;
        }
      }
    }
  }
}

.st-half-slider-wrapper {
  position: relative;

  .st-half-slider-text {
    width: 50%;
    float: left;
    padding-top: 115px;
    padding-right: 100px;

    .st-heading {
      font-weight: bold;
      line-height: 70px;
      font-size: 55px;
      color: #1A2B48;
    }

    .st-description {
      line-height: 24px;
      font-size: 14px;
      color: #5E6D77;
    }

    .btn {
      margin-top: 70px;
    }
  }

  .st-half-slider-gallery {
    float: left;
    width: 50%;

    .item {
      height: 700px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .owl-dots {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);

      .owl-dot {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        &.active {
          background: $white;
        }
      }
    }
  }
}

.tour-search-form-home {
  .form-group {
    label {
      margin-bottom: 0;
      display: block;
      font-weight: normal;
      font-size: 14px;
      color: $greyLight;
    }

    &.field-detination {
      width: 260px;

      .render {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 1;
        font-size: 16px;
        color: $mainColor;
        cursor: pointer;
        border-bottom: 2px solid $blue;

        &:before {
          position: absolute;
          content: '';
          background: url("../images/svg/arrow.png") no-repeat center center;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
        }
      }

      .dropdown-menu {
        min-width: 210px;
        max-width: 100%;
        max-height: 350px;
        overflow-y: auto;

        .item {
          padding: 10px 20px;
          font-size: 13px;
          color: #333;

          &:hover {
            cursor: pointer;
            background: #f5f5f5;
          }
        }
      }
    }

    &.form-date-field {
      width: 300px;
      position: relative;

      .check-in-wrapper {
        position: relative;
        border-bottom: 2px solid $blue;

        &:before {
          position: absolute;
          content: '';
          background: url("../images/svg/arrow.png") no-repeat center center;
          bottom: 0;
          right: 0;
          margin-bottom: 16px;
          width: 7px;
          height: 7px;
        }
      }

      .render {
        display: inline-block;
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 1;
        font-size: 16px;
        color: $mainColor;
        cursor: pointer;
      }

      .check-in-out {
        position: absolute;
        bottom: 0;
        visibility: hidden;
      }
    }

    &.form-tour-type-field {
      width: 210px;

      .select2-selection {
        border: none !important;
        border-bottom: 2px solid $blue !important;

        .select2-selection__rendered {
          font-size: 16px;
          padding: 12px 20px 12px 0 !important;
        }

        .select2-selection__arrow {
          right: -5px !important;
        }
      }
    }
  }
}

.st-half-slider-wrapper {
  .tour-search-form-home {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
    .form-group{
      float: left;
      margin-right: 50px;
      margin-bottom: 0;
      &:last-child{
        margin-right: 0;
      }
    }
    .search-form{
      position: relative;
      padding: 20px 0;
      padding-right: 180px;
      display: inline-block;
      background: #FFFFFF;
      box-shadow: 0 15px 45px rgba(42, 42, 42, 0.08);
    }
    .field-wrapper{
      padding-left: 60px;
      padding-right: 60px;
    }
    input[type="submit"]{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 180px;
      font-size: 16px;
      font-weight: 600;
    }

  }
}