.list_tours{
  .booking-list{
    .booking-item{
      .row{
        display: flex;
      }
    }
  }
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.layzyload-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  .layzyload-item {
    position: absolute;
    height: 100%;
    width: 100%;
    .animated-background {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      height: 100%;
      position: relative;
    }
  }
  &:after{
    content: "";
    display: block;
    margin-top: calc(70%);
  }
  &.layzyload-noafter{
    &:after{
      display: none;
    }
  }
}
.label_calendar_change_month{
  position: absolute;
  z-index: -99;
  color: transparent;
}
.hover-img .layzyload-wrapper>img.st-lazy{
  min-width: 100%;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img:hover .layzyload-wrapper>img {
  opacity: .7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}