.upload-wrapper{
    margin-bottom: 20px;
}
.upload-item img{
    max-width: 200px;
}
.st-location-airport{
    width: 95%;
    display: block;
}
.map-field-wrapper{
	position: relative;
	z-index: 0
}
.map-field-wrapper .search{
	position: absolute;
	top: 15px;
	right: 0;
	width: 250px;
	max-width: 100%;
	z-index: 1;
}
.map-field-wrapper .map-field-content{
	width: 100%;
	height: 350px;
}